body{
    background-image: url("./imgs/playfield.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    font-family: monospace;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#sidemenu{
    background-image: url("./imgs/sidebar.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 300px;
    position: absolute;
    right: 0;
    color: black;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    padding-left: 100px;
}



#timer{
    font-size: 60px;
    font-weight: bold;
    margin-top: 0px;
    text-shadow: 0px 0px 0px rgb(0, 0, 0);
    text-align: center;
    

}

.spielkarte{
    background-color: rgb(55, 55, 55);
    width: 200px;
    height: 350px;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 10px black;
    overflow: hidden;
    position: absolute;
}
.spielkarte .front{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    display: flex;
}

.spielkarte .back{
    background-image: url("./imgs/background_card.jpg");
    height: 100%;
}

.pseudokarte{
    background-image: url("./imgs/background_card.jpg");
    width: 100px;
    height: 175px;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 10px black;
    position: absolute;
    top: 10px;
    left: 10px;
}

.stapel{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 120px;
    height: 195px;
}

.flipFrontStep1{
    animation: flipFrontStep1 200ms forwards;
}

.flipFrontStep2{
    animation: flipFrontStep2 200ms forwards;
}

.flipBackStep1{
    animation: flipBackStep1 200ms forwards;
}

.flipBackStep2{
    animation: flipBackStep2 200ms forwards;
}

.kartenTitel{
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.275);
}

.spielkarte img{
    width: 90%;
    height: auto;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
}

.spielkarte p{
    padding: 0px 5%;
    font-size: 9px;
    
}

#opponent{
    width: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#opponent_img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid rgb(163, 162, 105);
    box-shadow: 0px 0px 10px black;
    margin-top: 20px;
}

#opponent_name{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    text-shadow: none;
    color: white;
    background-color: rgb(113, 114, 78);
    padding: 5px;
}


@keyframes flipFrontStep1 {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(90deg);
    }
}

@keyframes flipFrontStep2 {
    from{
        transform: rotateY(90deg);
    }
    to{
        transform: rotateY(0deg);
    }
}



@keyframes flipBackStep1 {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(90deg);
    }
}

@keyframes flipBackStep2 {
    from{
        transform: rotateY(90deg);
    }
    to{
        transform: rotateY(0deg);
    }
}